
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/priya.cshtml";
}

<h2>Blog</h2>
<p>
    <span>Blog is called!!!</span><br />
    <span>Blog is called!!!</span><br />
    <span>Blog is called!!!</span><br />
    <span>Blog is called!!!</span><br />
    <span>Blog is called!!!</span><br />
</p>

