
@{
    ViewBag.Title = "Home1";
    Layout = "~/Views/Shared/priya.cshtml";
}


<h2>Home</h2>
<p>
    <span>Home view called!!!!</span><br/>
    <span>Home view called!!!!</span><br />
    <span>Home view called!!!!</span><br />
    <span>Home view called!!!!</span><br />
</p>