
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/priya.cshtml";
}

<h2>Home</h2>
<p>
    <span>Home view called!!!!</span>
    <span>Home view called!!!!</span>
    <span>Home view called!!!!</span>
    <span>Home view called!!!!</span>
</p>

