
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/cust.cshtml";
}

<h2>about</h2>
<p>
    About view of test controller is used to demo!!!<br />
    About view of test controller is used to demo!!!<br />
    About view of test controller is used to demo!!!<br />
    About view of test controller is used to demo!!!<br />
    About view of test controller is used to demo!!!<br />
    About view of test controller is used to demo!!!<br />
</p>
@section head
    {
    <script type="text/javascript">
        alert("welcome to About!!!");
    </script>
}
@section news
{
    <span>*********************** news from About **************** </span>>
}
@section first{
    <span>first section called!!!!!!!</span>
}
@section second{
    <span>second section called!!!!!!!</span>
}

