
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/cust.cshtml";
}

<h2>contact</h2>
<p>
    <h3>Contact View</h3>
    Contact us On:9874563210<br />
    Email Id:priya@gmail.com<br />
    <h3>Contact View</h3>
    Contact us On:9874563210<br />
    Email Id:priya@gmail.com<br />
    <h3>Contact View</h3>
    Contact us On:9874563210<br />
    Email Id:priya@gmail.com<br />
</p>
@section head
    {
    <script type="text/javascript">
        alert("welcome to contact!!!");
    </script>
}
@section news
{
    <span>*********************** news from contact **************** </span>>
}
@section first{
    <span>first section called!!!!!!!</span>
}
@section second{
    <span>second section called!!!!!!!</span>
}

