
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/cust.cshtml";
}

<h2>Index</h2>
<p>
    welcome to layout used to demo!!!<br />
    welcome to layout used to demo!!!<br />
    welcome to layout used to demo!!!<br />
    welcome to layout used to demo!!!<br />
    welcome to layout used to demo!!!<br />
    welcome to layout used to demo!!!<br />
</p>
@section head
    {
    <script type="text/javascript">
        alert("welcome to Home!!!");
    </script>
}
@section news
{
    <span>*********************** news from Home **************** </span>>
}
@section first{
    <span>first section called!!!!!!!</span>
}
@section second{
    <span>second section called!!!!!!!</span>
}

