@model partialviewchildactioncall.Models.customertbl
    <h2>1st Customer information</h2>
<div>
    <ul>
        <li>Customer Id:@Model.customerid</li>
        <li>Customer Name:@Model.customername</li>
        <li>Customer Address:@Model.address</li>
        <li>Customer Email Id:@Model.emailid</li>
        <li>Customer Mobile No:@Model.mobileno</li>
        
    </ul>
</div>
