
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>blog</h2>
<p>
    blog is called from test controller!!!<br />
    blog is called from test controller!!!<br />
    blog is called from test controller!!!<br />
    blog is called from test controller!!!<br />
    blog is called from test controller!!!<br />
</p>

