
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<p>
    Index view called from test controller!!!<br />
    Index view called from test controller!!!<br />
    Index view called from test controller!!!<br />
    Index view called from test controller!!!<br />
    Index view called from test controller!!!<br />
</p>

