<h2>test controller of action controller called!!!</h2>
<h2>partial view called!!!</h2>
<div>
    @Html.Partial("_PartialView")
</div>
<hr/>
<h2>Render partial used</h2>
<div>
    @{ Html.RenderPartial("_PartialView");}
</div>
