
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignOut</title>
</head>
<body>
    <div> 
        <h3>you are logged out successfully!!!</h3>
        <h4>Login again<a href="/ManagePatient/SignIn">click here!</a></h4>
    </div>
</body>
</html>
