
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SalesIndex</title>
</head>
<body>
    <div>
        <h1>SalesIndex is called from salesindex action of salescontro controller!!!!!!</h1>

    </div>
</body>
</html>
