@model ModelView.Models.emp
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showmodel</title>
</head>
<body>
    <div>
        <h2>employee information</h2>
        Employee Id:@Model.empid<br />
        Employee Name:@Model.empname<br/>
        Employee Department:@Model.empdept<br/>
        Employee Mobile No:@Model.empmobile<br/>
        Employee Salary:@Model.empsalary<br/>

    </div>
</body>
</html>
