
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOut</title>
</head>
<body>
    <div>
        <h2> @Session["FirstName"] !You are Logout Successfully!</h2>
        <h3>Login again <a href="/manageuser/SignIn">click here!</a></h3>
    </div>
</body>
</html>
