
@{
    ViewBag.Title = "getviewdat";
}

<h2>getviewdat of test controller called!!!</h2>
<div>
    Product Id:@ViewData["productid"]<br />
    Product Name:@ViewData["productname"]<br />
    Product City Name:@ViewData["cityname"]<br />
    Product Budget:@ViewData["budget"]<br />
</div>

