
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>gototempdata</title>
</head>
<body>
    <div>
        <h2>gototemp data is called from get temp action of test controlle!!!</h2>
        Customer Id:@TempData["custid"]<br />
        Customer Name:@TempData["custname"]<br />
        Customer Address:@TempData["address"]<br />
        Customer Email Id:@TempData["emailid"]<br />
        Customer Mobile No:@TempData["mobileno"]<br />
        Customer Credit Limit:@TempData["creditlimit"]<br />
    </div>
</body>
</html>
