
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>gotoviewdata</title>
</head>
<body>
    <div>   <h2>gotoviewdata is called from getviewdata action of test controller</h2>
  project id:@ViewData["proid"]<br/>
  project name:@ViewData["proname"]<br/>
  city name:@ViewData["cityname"]<br/>
  budget:@ViewData["budget"]<br/>
    </div>
</body>
</html>
