
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> <h2>Index action called in test controller!!</h2>
    Emp Id=@ViewBag.EmpId<br/>
    Emp Name=@ViewBag.EmpName<br/>
    Dept Name=@ViewBag.DeptName<br/>
    salary=@ViewBag.Salary<br/>
    </div>
</body>
</html>
