
@{
    ViewBag.Title = "sample_index";
}

<h2>sample_index view of test Controller called!!!</h2>
<div>
    Employee Id:@ViewBag.Empid<br />
    Employee Name: @ViewBag.Empname<br />
    Employee Department:@ViewBag.Deptname<br />
    Employee Salary:@ViewBag.salary<br />
</div>

