
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>stronglyTypedHelper</title>
</head>
<body>
    <div> 
        <h>Helper<h>
    <p>StronglyType Helper used <p>
    <p>StronglyType Helper used <p>
    <p>StronglyType Helper used <p>
    <p>StronglyType Helper used <p>

   



</div>
</body>
</html>
