
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PurchaseIndex</title>
</head>
<body>
    <div>
        <h1>PurchaseIndex is called from purchaseindex action of purchasecontro controller!!!!!!</h1>
    </div>
</body>
</html>
