
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_customerror</title>
</head>
<body>
    <div style="background-color:blanchedalmond;color:dodgerblue;border:4px yellow solid;"> 
        <h2>We are facing some issue please try again!!!</h2>
        <h5>Contact No:1234567890</h5>
    </div>
</body>
</html>
