<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="/UserArea/subject/Index">Subject</a></td>
            <td><a heref="/UserArea/author/Index">Author</a></td>
            <td><a href="/UserArea/book/Index">Book</a></td>
            <td><a href="/UserArea/sales/Index">Sales</a></td>
        </tr>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
