@model bookex.Models.book
@{
    ViewBag.Title = "showbook";
}

<h2>book information</h2>
<div>
    Book id:@Model.bookid<br/>
    Book Name:@Model.bookname<br/>
    Book Author Name:@Model.authorname<br/>
    Book Price:@Model.bookprice<br/>
</div>

